<div [attr.data-theme]="themeService.getTheme()" class="flex flex-col m-2 md:w-150 rounded bg-base-100 p-4">
    <div class="h-full w-full flex flex-col gap-2">
        <span class="text-2xl font-bold">{{ 'components.deleteBillsModal.title' | translate }}</span>
        <span class="text-sm opacity-60">{{ 'components.deleteBillsModal.subtitle' | translate }}</span>
        <div class="w-full grid grid-cols-2 gap-2 pt-2">
    </div>
    <div class="w-full">
        <div class="flex gap-2 items-end justify-end w-full">
            <button (click)="closeDialog(false)" class="btn btn-neutral btn-soft">{{ 'components.deleteBillsModal.cancel' | translate }}</button>
            <button (click)="closeDialog(true)" class="btn btn-error btn-soft">{{ 'components.deleteBillsModal.confirm' | translate }}</button>
        </div>
    </div>
</div>
