<div class="flex min-h-[calc(100vh-4rem)] w-full gap-2">
  <div class="w-full flex flex-col items-center justify-center gap-4 flex-wrap min-h-[calc(100vh-4rem)]">
    <div class="flex w-full flex-wrap items-center justify-center gap-4 px-70">
      <div class="card w-80 border border-base-300 card-lg bg-base-100">
        <div class="card-body">
          <div class="w-full flex justify-between items-center">
            <span class="card-title text-sm">Transactions (Month)</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </div>
          <span class="text-4xl font-bold">30</span>
          <span class="text-sm text-base-content/40">+19% from last month</span>
        </div>
      </div>
      <div class="card w-80 border border-base-300 card-lg bg-base-100">
        <div class="card-body">
          <div class="w-full flex justify-between items-center">
            <span class="card-title text-sm">Bills (Month)</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </div>
          <span class="text-4xl font-bold">20</span>
          <span class="text-sm text-base-content/40">+10% from last month</span>
        </div>
      </div>
      <div class="card w-80 border border-base-300 card-lg bg-base-100">
        <div class="card-body">
          <div class="w-full flex justify-between items-center">
            <span class="card-title text-sm">Money movimented (Month)</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </div>
          <span class="text-4xl font-bold">$45,231.89</span>
          <span class="text-sm text-base-content/40">+19% from last month</span>
        </div>
      </div>
      <div class="card w-80 border border-base-300 card-lg bg-base-100">
        <div class="card-body">
          <div class="w-full flex justify-between items-center">
            <span class="card-title text-sm">Transactions (Month)</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </div>
          <span class="text-4xl font-bold">$45,231.89</span>
          <span class="text-sm text-base-content/40">+19% from last month</span>
        </div>
      </div>
    </div>
    <div class="flex flex-row w-full flex-wrap items-center justify-between gap-4 px-70">
      <div class="flex items-center justify-center h-full">
        <ngx-charts-bar-vertical class="fill-base-content"
            [results]="data"
            [view]="[600, 300]"
            [showDataLabel]="false"
            [legend]="true"
            [scheme]="colorScheme"
            [gradient]="false"
            [yAxis]="true"
            >
        </ngx-charts-bar-vertical>
      </div>

      <div class="flex flex-col w-[50%] p-10 h-120 gap-2">
        <div class="self-end flex gap-2">
          <label class="floating-label">
            <span>Lembrete</span>
            <input [formControl]="todoInput" type="text" placeholder="mail@site.com" class="input input-md focus:outline-none focus:border-success" />
          </label>
          <button [disabled]="todoInput.invalid" (click)="addToDo()" class="btn btn-success btn-soft">Adicionar lembrete</button>
        </div>
        
        <div class="flex items-center justify-center w-full h-full gap-10">
          <div class="flex flex-col gap-2 h-full border border-base-300 p-4 rounded w-full">
            <span class="self-start font-bold">To do</span>  
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="flex flex-col gap-1 h-full overflow-auto px-2"
              (cdkDropListDropped)="drop($event)">
              @for (item of todo; track item) {
                <button class="!btn !btn-primary !btn-soft" cdkDrag>{{item}}</button>
              }
            </div>
          </div>

          <div class="flex flex-col gap-2 h-full border border-base-300 p-4 rounded w-full">
            <span class="self-start font-bold">Done</span>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class="flex flex-col gap-1 h-full overflow-auto px-2"
              (cdkDropListDropped)="drop($event)">
              @for (item of done; track item) {
                <button class="!btn !btn-primary !btn-soft" cdkDrag>{{item}}</button>
              }
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>