<div class="flex flex-col gap-2 items-center justify-center min-h-[calc(100vh-4rem)]">
    <div class="w-4/5 flex flex-col items-center gap-2">
      <div class="flex items-center gap-2 justify-between w-full">
        <div class="flex gap-2 w-full">
          <div class="join">            
            <input [formControl]="selectedName" class="input join-item focus:outline-none focus:border-primary" placeholder="{{'pages.bills.filters.searchByName.placeholder' | translate }}" />
            <button (click)="searchByName()" [disabled]="selectedName.value === ''" class="btn join-item">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 join-item">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
              {{'pages.bills.filters.searchByName.button' | translate }}</button>
          </div>

          @if (selectedName.value) {
            <button (click)="removeNameFilter()" class="btn btn-error btn-soft">{{'pages.bills.filters.searchByName.remove' | translate }}</button>
          }
        </div>

        @if (billsCount <= 0) {
          <button (click)="getBills()" class="btn btn-error btn-soft">{{'pages.bills.tryAgain' | translate }}</button>
        }

        @if (selectedBills.length > 0) {
          <button (click)="deleteBills()" class="btn btn-error btn-soft">{{'pages.bills.deleteBills' | translate }}</button>
        }

        <button (click)="makeBill()" class="btn btn-primary btn-soft">{{'pages.bills.makeBill' | translate }}</button>
      </div>

      <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 w-full">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <label>
                    <input (change)="toggleAllSelection($event)" type="checkbox" class="checkbox" />
                  </label>
                </th>
                <th>{{'pages.bills.table.header.name' | translate }}</th>
                <th>{{'pages.bills.table.header.description' | translate }}</th>
                <th>{{'pages.bills.table.header.dueDate' | translate }}</th>
                <th>{{'pages.bills.table.header.installments' | translate }}</th>
                <th>{{'pages.bills.table.header.amount' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              
              @for (bill of bills; track $index) {
                <tr class="hover:bg-base-300">
                    <td>
                        <label>
                            <input 
                              [checked]="selectedBills.includes(bill)"
                              (change)="toggleSelection(bill, $event)"
                              type="checkbox" class="checkbox" 
                            />
                        </label>
                    </td>
                    <td>
                        <span class="text-sm opacity-80">{{bill.name}}</span>
                    </td>
                    <td class="max-w-80 truncate">
                        <span class="text-sm opacity-80">{{bill.description}}</span>
                    </td>
                    <td>
                        <span class="text-sm opacity-80">{{formatDate(bill.dueDate.toString())}}</span>
                    </td>
                    <td>
                        <span class="text-sm opacity-80">{{bill.paidInstallments}} of {{bill.installments}}</span>
                    </td>
                    <td>
                        <span class="text-sm opacity-80">{{formatMoneyToString(bill.amount)}}</span>
                    </td>
                </tr>
              } @empty {
                @for (item of [1,2,3,4,5]; track $index) {
                  <tr class="hover:bg-base-300">
                    <td>
                        <label>
                            <input disabled type="checkbox" class="checkbox" />
                        </label>
                    </td>
                    <td>
                        <div class="skeleton p-2 w-full h-4"></div>
                    </td>
                    <td>
                      <div class="skeleton p-2 w-full h-4"></div>
                    </td>
                    <td>
                      <div class="skeleton p-2 w-full h-4"></div>
                    </td>
                    <td>
                      <div class="skeleton p-2 w-full h-4"></div>
                    </td>
                    <td>
                      <div class="skeleton p-2 w-full h-4"></div>
                    </td>
                }
              }
            </tbody>
          </table>
      </div>
      <div class="self-end flex items-center gap-2">
        <span class="text-sm mr-4 opacity-65">{{ startIndex }}-{{ endIndex }} of {{ billsCount }}</span>
        <div class="join flex gap-2">
          <button (click)="previousPage()" [disabled]="page <= 1" class="join-item btn btn-sm btn-soft">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
            </svg>
          </button>
          <button (click)="nextPage()" [disabled]="page * offset >= billsCount" class="join-item btn btn-sm btn-ghost btn-soft">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
            </svg>          
          </button>
        </div>
      </div>
    </div>
</div>