<div [formGroup]="makeTransactionForm" [attr.data-theme]="themeService.getTheme()" class="flex flex-col w-300 h-100 rounded bg-base-100 p-4">
    <div class="h-full w-full flex flex-col gap-2">
        <span class="text-2xl font-bold">{{ 'components.makeTransactionsModal.title' | translate }}</span>
        <span class="text-sm opacity-60">{{ 'components.makeTransactionsModal.subtitle' | translate }}</span>
        <div class="w-full grid grid-cols-2 gap-2 pt-2">
            <input formControlName="name" maxlength="50" class="input join-item focus:outline-none focus:border-primary w-full" placeholder="{{ 'components.makeTransactionsModal.form.name' | translate }}"
                [ngClass]="this.makeTransactionForm.get('name')?.errors && this.makeTransactionForm.get('name')?.dirty ? 'border-error' : ''"/>
            <input formControlName="amount" prefix="R$ " mask="separator.2" thousandSeparator="," decimalMarker="." maxlength="14" 
                class="input join-item focus:outline-none focus:border-primary w-full" placeholder="{{ 'components.makeTransactionsModal.form.amount' | translate }}"
                [ngClass]="this.makeTransactionForm.get('amount')?.errors && this.makeTransactionForm.get('amount')?.dirty ? 'border-error' : ''"/>
            <select formControlName="type" class="select focus:outline-none focus:border-primary w-full">
                <option value="" disabled selected>{{ 'components.makeTransactionsModal.form.transactionsType.placeholder' | translate }}</option>
                <option value="withdraw">{{ 'components.makeTransactionsModal.form.transactionsType.withdraw' | translate }}</option>
                <option value="deposit">{{ 'components.makeTransactionsModal.form.transactionsType.deposit' | translate }}</option>
            </select>
            <select formControlName="paymentMethod" class="select focus:outline-none focus:border-primary w-full">
                <option value="" disabled selected>{{ 'components.makeTransactionsModal.form.paymentMethod.placeholder' | translate }}</option>
                <option value="credit_card">{{ 'components.makeTransactionsModal.form.paymentMethod.creditCard' | translate }}</option>
                <option value="debit_card">{{ 'components.makeTransactionsModal.form.paymentMethod.debitCard' | translate }}</option>
                <option value="account_cash">{{ 'components.makeTransactionsModal.form.paymentMethod.accountCash' | translate }}</option>
                <option value="pix">{{ 'components.makeTransactionsModal.form.paymentMethod.pix' | translate }}</option>
            </select>
        </div>
        <fieldset class="fieldset w-full">
            <legend class="fieldset-legend">{{ 'components.makeTransactionsModal.form.textareaLabel' | translate }}</legend>
            <textarea formControlName="description" maxlength="200" class="textarea max-h-24 min-h-24 w-full focus:outline-none focus:border-primary" 
                placeholder="{{ 'components.makeTransactionsModal.form.textareaPlaceholder' | translate }}"></textarea>
        </fieldset>
    </div>
    <div class="w-full">
        <div class="flex gap-2 items-end justify-end w-full">
            <button (click)="closeDialog()" class="btn btn-error btn-soft">{{ 'components.makeTransactionsModal.form.cancel' | translate }}</button>
            <button [disabled]="this.makeTransactionForm.invalid" (click)="makeTransaction()" class="btn btn-success btn-soft">{{ 'components.makeTransactionsModal.form.makeTransaction' | translate }}</button>
        </div>
    </div>
    <ngx-sonner-toaster richColors  />
</div>
